
.card{
    height: 150px;
    border-bottom: solid 3px black;
}
h1{
    color: gray;
    font-weight: 60;
    margin-left: 30px;
    margin-top: 15px;
}
img{
    position: absolute;
    height: 200px;
    border: solid 3px black;
    top: 50px;
}
.row{
    margin-top: 20px;
}
.nav-item{
    height: 40px;
    margin-left: 30px;
    font-size: 15px;
}
.nav-link{
    background-color: white;
    border: none;
}
.nav-item :hover{
    background-color: rgb(219, 198, 80);
    color: black;
    font-size: 20px;
}
.searching{
    margin-left: 50px;
}
.btn{
    border: solid 1px rgb(78, 78, 78);
    border-radius: 5px;
}
#cryptoCards{
    margin-left: 20%;
    width: 60%;
}
.cardOne{
    height: 180px;
    width: 30%;
    border-right: solid 1px rgb(78, 78, 78, 0.2);
    border-bottom: solid 1px rgb(78, 78, 78, 0.2);
    border-radius: 3px;
}
.btn-secondary{
    background-color: rgba(77, 50, 19, 0.678);
}

.switch{
    opacity: 1;
    position: absolute;
    left: 70%;
    margin-top: -60px;
}
#ch{
    opacity: 0;
}
.switch-btn{
    width: 62px;
    height: 30px;
    background: #a1a1a188;
    position: relative;
    border-radius: 25.5px;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.3)
}
.switch-btn:before{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    background: #a1a1a188;
    border: solid rgba(29, 29, 29, 0.25) 0.5px;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: all 150ms ease-out;
    box-shadow: inset 0 8px 6px -4px rgba(0, 0, 0, 0.25);
}

input[type=checkbox]:checked + .switch-btn:before{
    left: 34px;
    background: #a1a1a188;
    border: solid rgba(29, 29, 29, 0.45) 0.5px;
    box-shadow: inset 0 8px 6px -4px rgba(0, 0, 0, 0.25);
}
input[type=checkbox]:checked + .switch-btn{
    background-color: rgba(77, 50, 19, 0.678);
}
#collapseExample{
    z-index: 999;
}
#collapseText{
    z-index: 999;
    height: 100%;
}